{
  "brokeboi": {
    "command": "https://www.youtube.com/watch?v=3XOETXVL424"
  },
  "maestro": {
    "command": "https://www.youtube.com/watch?v=sDH3tpAtx58"
  },
  "skins": {
    "command": "http://i.imgur.com/377qmlR.png"
  },
  "excuseme": {
    "command": "http://i.imgur.com/EodSAl2.jpg"
  },
  "why": {
    "command": "http://i.imgur.com/Mkri2sD.jpg"
  },
  "skulltrumpet": {
    "command": "https://www.youtube.com/watch?v=9ndqA3zmn2Q"
  },
  "comfy": {
    "command": "http://i.imgur.com/d3j8EIJ.jpg"
  }
}