{
  "challenges": [
    {
      "challenge": "Windjammers"
    },
    {
      "challenge": "Twinkle Star Sprites"
    },
    {
      "challenge": "1v1 Earthshaker Mid No Fissure"
    },
    {
      "challenge": "Quake Live Duel"
    },
    {
      "challenge": "Pokemon Showdown Random Battle"
    },
    {
      "challenge": "Street Fighter 4"
    },
    {
      "challenge": "Aberoth (Race to 5 + PvP)"
    },
    {
      "challenge": "http://roshambo.me/"
    },
    {
      "challenge": "Goal! Goal! Goal!"
    },
    {
      "challenge": "Neo Turf Masters"
    }
  ]
}